.bg-blue-gradient {
  width: 100vw;
  height: 100%;
  margin: 0;
}

.full-screen.bg-logo-text.full-screen.bg-logo-text.padding-4p.pb-9r {
  min-height: 100%;
}

.inactive-select{
  color: #000 !important;
  background-color: #ebebeb;
  pointer-events: none;
  &::after{
    color: #979797;
  }
}

.i-button{
  display: none;
}

@media (min-width: 320px) {
  .bg-blue-gradient {
    height: 100%;
  }
}

@media (max-width: 321px) {
  .full-screen.bg-logo-text {
    padding-top: 2vh !important;

    &>div>h2 {
      display: none !important;
      //margin: none;
    }
  }

  .bg-blue-gradient {
    &>div>.bg-splash.bg-splash2 {}
  }

  .bg-logo-text {
    background-position-y: 12.5%;
  }

  .ticket-finder p {
    margin: 0;
    opacity: 0.8;
    letter-spacing: 0px;
    line-height: 15px;
  }

  .title-button {
    font-size: 9px;
  }

  .icons-finger {
    width: 15px;
  }
}

.bg-splash {
  height: 80%;
}

.bg-logo-text {
  background-position-y: 12.5%;
}



@media (max-height: 667px) {
  .full-screen.bg-logo-text {
    padding-top: 2vh !important;

    &>div>h2 {
      display: none !important;
    }
  }

  .best-ticket-container {
    zoom: 0.8;
  }

  .best-ticket-container>div:last-of-type,
  .best-ticket-container>div>.state:last-of-type {
    margin-bottom: 1.5rem;
  }

  .best-ticket-container>div>h3 {
    margin-bottom: 0;
  }

  .bg-logo-text {
    background-position-y: 12.5%;
  }

}

.full-screen.bg-logo-text.padding-4p.pb-9r {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-height: 600px) {
  .full-screen.bg-logo-text {
    padding-top: 2vh !important;
  }
}


.best-ticket-container {
  margin: auto;
  width: 90%;
  max-width: 500px;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  top: 45%;
}

@media (min-height: 400px) {
  .best-ticket-container {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    top: 30%;
  }
}

@media (max-height: 568px) {
  .best-ticket-container {
    top: 25%;
  }
  .check-list{
    padding-bottom: 20px;
  }
  .state{
    margin-bottom: 1.5rem;
  }
}

@media (max-height: 400px) {
  .best-ticket-container {
    position: unset;
  }
}

@media (max-width: 350px) {
  .finger-button,  .check-list-head .title-button{
    display: none;
  }
  .i-button{
    display: block;
    min-width: 1.8rem;
    max-width: 1.8rem;
    height: 1.8rem;
    background: url('../../../img/SVG/i_button.svg') no-repeat center;
    background-size: contain;
  }

  button.green{
    padding: 0;
    width: 1.8rem;
    height: 1.8rem;
    border-radius: 50%;
    background: transparent;
    top: -.7rem;
  }

}

@media (max-width: 320px) {
  .bg-splash {
    height: 50%;
  }

  .bg-logo-text {
    background-position-y: 3vh;
  }
}