.react-datepicker {
  font-size: 1.5em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.8em 1em;
}
.react-datepicker__day-name,
.react-datepicker__day {
  width: 2.8em;
  line-height: 2.8em;
  margin: 0.35em;
}
.react-datepicker__current-month {
  font-size: 2em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 3.4em;
  border: 0.9em solid transparent;
}

.react-datepicker__year-option  {
  height: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.25em;
}

.react-datepicker__navigation, .react-datepicker__navigation--previous, .react-datepicker__navigation--next {
  border-width: 1em !important;
  margin-top: 0.5em;
}

.react-datepicker__year-dropdown {
  height: 7em;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 2em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 2em;
}

.react-datepicker__input-container {
  width: 100%;
  margin: 0 0 0.5rem;
}
